{% extends 'base.html' %}
{% load mathfilters %}

 {% block test %}
        {% endblock %}

{% block content %}
    <div align="center">
        <div class="signUpDiv" dir="rtl">
{% for b in query %}
    {{ b.name }}
 <br>
 <img src="{{ b.image.url }}" width="200" height="200">
 <br>

    {% if b.takhfif == null %}
    {{ b.price }}
    {% else %}
 <del>{{ b.price }}</del>
    <br>
      <label style="color: red"> {{ b.price | mul:b.takhfif | div:100 |sub:b.price |mul:-1 |floatformat:'0' }}
</label>
 {% endif %}
    <br>
    <form method="post" action="{% url 'myApp:reserve' name=b.name brand=b.brand  %}">
    {% csrf_token %}
       {{ form.as_p }}
        <br>
    <button type="submit" >افزودن به سبد خرید</button>
    </form>
{% endfor %}
        </div>
    </div>
{% endblock %}
