{% extends 'base.html' %}
{% load mathfilters %}

{% block nav %}

              {% endblock %}

{% block content %}

{#<style>#}
{#    .row1{#}
{#        background: lightgray;#}
{#    }#}
{#    .row2{#}
{#         background: white;#}
{#    }#}
{#</style>#}

    <br>

<div class="shadow container ">
<div >
        {% for b in query %}
    <div style="text-align: center ">
              <br>
{{ b.name }}
    <br>
price:
                {% if b.takhfif == null %}
    {{ b.price }}
    {% else %}
 <del>{{ b.price }}</del>
    <br>
      <label style="color: red"> {{ b.price | mul:b.takhfif | div:100 |sub:b.price |mul:-1 |floatformat:'0' }}
</label>
 {% endif %}
            <br>
{{ b.quantity }}
            <hr>
{% endfor %}
<br>

</div>
</div>
   </div>
<div style="bottom: 0;color: white;background: blue;width: 100%;height: 100px;margin-left: -125px;text-align: center">
<h1>total:{{ total }}</h1>
    <form action="{% url 'myApp:request' %}" method="post" >
        {% csrf_token %}
<button type="submit" class="btn-outline-danger" style="border-radius: 20px;width: 100px;height: 40px">خرید</button>
</form>
</div>
{% endblock %}
