{% extends 'base.html' %}
{% load static %}
{% block nav %}

              {% endblock %}
{% block content %}

     <div align="center" >

      <div class="signUpDiv" dir="rtl">
        <table align="center">
<form  method="POST" id="suggest-form" >
    {% csrf_token %}
    <tr><td>
    {{ form.as_table }}
    <br>
    </td></tr>
    <tr><td>
        <button type="submit" value="send" id="ajax" >send</button>
    </td></tr>
</form>
            </table>

    </div>
    </div>


{% endblock %}
{% block js %}
    <script>
    const form=document.getElementById('suggest-form');
    form.addEventListener('submit',submitHandle);
    function submitHandle(e){
        e.preventDefault();
$.ajax(
    {
        type:'POST',
        url:{% url 'myApp:suggestion' %},
        data:$('#suggest-form').serialize(),
        dataType:'json',
        success: function (data){
            if (data.msg== 'success'){
                alert('thanks')
                form.reset()
            }

        },
        error:function (data){
            if (data.msg=='error'){
                alert ('error')
            }
        }

    }
)
    }


    </script>
{% endblock %}
